body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color: white;
    text-align: center;
}

.container {
    padding: 20px;
}

h1 {
    font-size: 30px;
    background: linear-gradient(90deg,#00c6ff,#0072ff);
    -webkit-background-clip: text;
    color: transparent;
}

#dropArea {
    border: 2px dashed #00c6ff;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 400px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}

#dropArea input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    top: 0;
}

.card {
    background: rgba(255,255,255,0.08);
    padding: 15px;
    margin: 15px auto;
    border-radius: 15px;
    width: 90%;
    max-width: 420px;
    backdrop-filter: blur(10px);
}

input, select {
    padding: 8px;
    margin: 6px;
    border-radius: 8px;
    border: none;
    width: 90%;
}

button {
    padding: 10px;
    margin: 6px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(90deg,#ff512f,#dd2476);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    transform: scale(1.05);
}

.download {
    background: linear-gradient(90deg,#00c6ff,#0072ff);
}

canvas {
    margin-top: 20px;
    max-width: 95%;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0,0,0,0.6);
}